name: TreeBench

# Controls when the action will run.
# Workflow runs when manually triggered using the UI or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs
jobs:
  benchmark:

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: dev

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Build artifacts
        run: ./gradlew clean jmhJar

      - name: Run Benchmark
        run: java -jar ./treebench/build/libs/treebench-jmh.jar -i 4 -wi 4 -f 1 -r 2 -w 2

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: bench-results-${{ matrix.os }}
          path: ./results-${{ matrix.os }}.csv